* {
    margin: 0;
    box-sizing: border-box;
}

.box {
    border: 1px solid black;
    display: inline-block;
    overflow: hidden;
}

.black {
    background-color: black;
}

#squares {
    margin: 0 auto;
    height: calc(100vh - 100px);
    width: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}